.reservas-form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    flex-direction: column;
    border-radius: 0.5rem;
    gap: 1rem;
}




.delete {
  background-color: red;
  color: white;
  padding: 1rem;
  border-radius: 25px;
}